.header {
    font-family: Hachi, fantasy;
    font-size: 26px;
    text-align: center;
    grid-area: h;
}
.header-text {
    position: inherit;
    padding-top: 10px;
    text-shadow: 0 0 10px #F2E8CA;
}
.header audio {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
}