* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    grid-area: n;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "n1 n2";
}
.nav1 {grid-area: n1;}
.nav2 {grid-area: n2;}

.nav a {
    color: darkgray;
    text-decoration: none;
}
.nav a.active {
    color: black;
}